{% extends 'store/base.html' %}

{% block content %}
<h2>{{ book.title }}</h2>
<img src="{{ book.image.url }}" alt="{{ book.title }}" style="width: 200px; height: 300px;">
<p><strong>Author:</strong> {{ book.author }}</p>
<p><strong>Category:</strong> {{ book.category }}</p>
<p><strong>Description:</strong> {{ book.description }}</p>
<p><strong>Price:</strong> ₹{{ book.price }}</p>
<form action="/add-to-cart/{{ book.id }}/" method="post">
    {% csrf_token %}
    <button type="submit">Add to Cart</button>
</form>
{% endblock %}
